<!-- You can replace the struture of every slide with this template -->

<!-- Available Tags to replace with the content -->

   <!-- Image tags  -->
      <!-- Image URL: {{Image.url}} -->
      <!-- Image alt: {{Image.alt}} -->

   <!-- Title tag: {{Title}} -->

   <!-- Paragraph tag: {{Paragraph}} -->

   <!-- Additional Content tag: {{Additional_content}} -->

   <!-- Link tags -->
      <!-- Link (URL): {{Link}} -->
      <!-- Target blank (open in new tab or not): {{Link.target}} -->
      <!-- Nofollw attribute: {{Link.nofollow}} -->

<div>
   <img class="el-quantum-slider-image" src="{{Image.url}}" alt="{{Image.alt}}">
   <div class="el-quantum-content-container">
      <h3 class="el-quantum-title">{{Title}}</h3>
      <p class="el-quantum-para">{{Paragraph}}</p>
      <p class="el-quantum-add-content">{{Additional_content}}</p>
   </div>
</div>
